@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Light.tff') format('tff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-LightItalic.tff') format('tff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.tff') format('tff');
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
  color: #FFF;
  background-color: #110c0b
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  background: #FFF;
  padding: 50px;
  width: 100%;
}

/* .menu {
  margin-top: 15px;
}

.menu > li {
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.list {
  display: none;
}

.dropdown:hover .list {
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 5px;
  padding-top: 60px;

  position: absolute;
  top: -25px;
  left: -30px;

  z-index: 1;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid #FFF;

  padding: 0 40px 10px 20px
  margin: 10px;
}

.features-menu li:last-of-type {
  border-bottom: none;
} */
