@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {box-sizing: border-box;}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 200;
    color: black;
    background: url('images/background.jpg') center fixed;
    background-size: cover;
}

h1 {
    font-size: 90px;
    font-weight: 600;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 42px;
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.textbutton {
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    right: 0;
    top: 50px;
    padding: 0px 60px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    max-height: 100%;
    width: 60%;
}

.menu a{
    margin-left: 15%;
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    padding-left: 15%;
    padding-bottom: 0px;
    height: 100vh;
}

.sectionlabel {
    display: flex;
    font-weight: 500px;
    padding: 30px 0px;
    justify-content: center;
    margin-top: 30px;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 290px;
    margin: 25px 15px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5) ;

    margin: 0px 30px;
    background-color: white;
    border-radius: 40px;
    width: 40%;
}

.project {
    width: 85%;
    height: 75%;
    position: relative;
}

.projectheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 45%;
}

.projecttitle {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
    margin-left: 30px;
}

.projectname {
    font-size: 25px;
    font-weight: 300;
    overflow-wrap: break-word;
        
    margin: 0;
    padding: 0;
}

.tagcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}

.tag {
    font-size: 14px;
    font-weight: 300;
    color: #FF8585;

    border: 1px solid #FF8585;
    border-radius: 6px;
    margin: 5px 5px;
    padding: 5px 10px;
}

.tag.first {
    margin: 5px 10px 5px 0px;
}

.projectdescription {
    color: #525252;
    font-weight: 100;
    margin: 15px 0px 23px 0px;
}

.projectbuttons {
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.buttonimg {
    height: 100%;
    margin-right: 10px;
}




